.header-nav {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0 .5px 6px -1px #a1d5f3, 0 .5px 4px -1px #a1d5f3;
    margin-bottom: 15px;
}

.nav-list {
    display: flex;
    width: 550px;
    gap: 30px;
    color: black;
}

.nav-item {
    cursor: pointer;
    font-family: var(--font-poppins);

     &:hover {
        border-bottom: 1px solid black;
        cursor: pointer;
    }
}

.nav-item-active {
    border-bottom: 1px solid black;
}

.menu-item {
    display: flex; 
    gap: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
}