.dialogContainer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.formContainer {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.title {
  padding: 10px;
  text-align: center;
}

.formControl {
  width: 100%;
}

.textField {
  width: 100%;
}

.button {
  min-width: 100px;
}

.closeButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.glassEffect {
  background: rgba(255, 255, 255, 0.979) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  border-radius: 12px !important;
  width: 620px !important;
}

.dialogBackdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3) !important;
}