.title {
    font-family: var(--font-poppins) !important;
    text-align: center !important;
}

.container {
    box-shadow: 0 .5px 6px -1px #a1d5f3, 0 .5px 4px -1px #020202ff;
    height: 10vh;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
}

.container-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 100px;
}

.container-action {
    display: flex;
    align-items: center;
    padding-top: 7px;
    gap: 24px;
}

.horizontal-line {
    color: #a1d5f3;
    width: 60%;
    margin: 0 auto;
}

.button {
    width: 190px !important;
    color: rgb(255, 255, 255) !important;
    background-color: #1976d2 !important;
    text-transform: capitalize !important;
}

.button-delete {
    background-color: rgba(230, 15, 15, 0.671) !important;
    color: rgb(255, 255, 255) !important;
}

.button:disabled {
    background-color: #6986973f !important;
    color: rgba(0, 0, 0, 0.445) !important;
}